*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  padding: 133px 30px;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.button {
  background: none;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
}

/* главный контейнер */

.content {
  display: grid;
  grid-template-columns: 711px auto;
  gap: 30px;
  max-width: 1140px;
  max-height: 534px;
}

/* правая часть */

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  min-width: 711px;
}

.result__video {
  width: 100%;
}

.search-form {
  display: flex;
  gap: 40px
}

/* левая часть */

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 399px;
}

.title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #545050;
}

.content__list {
  height: 298px;
  overflow: scroll ;

}

/*карточка видео*/

a {
  text-decoration: none;
  color: #fff;
}

.card-list-item-template {

}

.content__video-card {
  display: grid;
  grid-template-columns: 200px auto;
}